@charset "utf-8";
@import "_mixin.scss";
@import "_global.scss";
html,body{
    overflow-x: hidden;
    // padding-top: 25px;
    background: rgba(0,0,0,0);
}
.err-info{
    color: $h5-orange!important;
}
body:before {
    width: 100%;
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../images/h5/h5-bg-img.jpg) top center no-repeat;
    background-size: cover;
}

.btn-primary{
    background: $h5-btn-primary-bg!important;
    border: $h5-btn-primary-bg!important;
}

a{
    color: $h5-orange;
}

.ui-content-nodata{
    color: #fff;
}

#h5header{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background: $h5-main-bg;
    color: #fff;
    z-index:999;
    display: table;
    border-bottom: 1px solid $h5-border-color;
    .logo {
        display: table-cell;
        position: relative;
        font-size: 24px;
        left: 10px;
        a {
            color: #fff;
            img{
                position: absolute;
                top: 5px;
                height: 40px;
            }
        }
    }
    .login-info{
        width: 100%;
        text-align: right;
        position: relative;
        span{
            font-size: $font-size-title-small;
            cursor: default;
            padding: 5px;
            font-size: 13px;
            white-space: nowrap;
            &.active{
                border-bottom: 2px solid $h5-header-active;
                padding-bottom: 16px;
                color: $h5-header-active;
            }
        }
        .more-ope{
            width: 100px;
            position: absolute;
            background: $h5-main-bg-color;
            text-align: center;
            right: 2px;
            span{
                display: block;
                width: 100%;
                padding: 0;
                line-height: 40px;
                border-bottom: 1px solid;
                &:first-child{
                    &:before{
                        content: '';
                        position: absolute;
                        top: -5px;
                        right: 10px;
                        @include arrow-up(8px, $h5-main-bg-color);
                    }
                }
                &:last-child{
                    border-bottom: none;
                }
                &:active{
                    background: #0047E8;
                    &:before{
                        @include arrow-up(8px, #0047E8);
                    }
                }
            }
        }

    }
}

.content,.user-content,.msg-content{
    margin-top: 50px;
}
.ui-dialog{
    .content{
        margin-top: 0;
    }
}

.table-index{
    width: 30px;
    height: 30px;
    background-color: #4990E2;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin: 0px;
    display: block;
}

select{
    color: #fff;
    border: none;
    margin: 5px 0;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    background: url("../../images/h5/arrow-down.png") no-repeat scroll right center transparent;
}
select::-ms-expand { display: none; }