@charset "utf-8";
@import "_mixin.scss";
@import "_global.scss";

/* 主结构样式 */
html{
    background: $color-background;
}

.container {
	width: 1680px;
	padding: 0;
	position: relative;
    overflow: hidden;
}

.fc-red{
    color: red;
}
.fc-orange{
    color: orange;
}
.fc-green{
    color: green;
}
.fc-info{
    color: #333;
}
.fc-white{
    color: #fff;
}
.fc-light-red{
    color: #FD4B52;
}
.fc-light-green{
    color: #00B535;
}

.overflow-h{
    overflow: hidden;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.tal{
    text-align: left;
}

.tar{
    text-align: right;
}


@media (min-width: 0px) {
	.container {width: 1400px;}
	#header .container{width: 100%;}
}

@media (min-width: 1300px) {
	.container {width: 1400px;}
	#header .container{width: 100%;}
}

@media (min-width: 1700px) {
	.container {width: 1680px;}
	#header .container{width: 1680px;}

}

.container {
    width: 100%;
    margin: 0 auto;
    &:after,
    &:before {
        display: table;
        content: '';
        clear: both;
    }
}

.banner {
    width: 100%;
    img {
        display: block;
        width: 100%;
        max-height: 550px;
        height: auto;
    }
}

.err-info{
    background: url('../../images/error-trangle.png') no-repeat;
    background-size: 13px 13px;
    background-position: left;
    font-size: 13px;
    padding: 0 20px;
    margin: 0 5px;
    color: red;
}
.warn-info{
    background-size: 13px 13px;
    background-position: left;
    font-size: 13px;
    padding: 0 20px;
    margin: 0 5px;
    color: #FF7F27!important;
}


/* 头部样式 */
#header {
	position: fixed;
	top: 0;
	height: 60px;
    width: 100%;
	line-height: 60px;
	background-color: #fff;
	box-shadow: 0 1px 3px #ddd;
	z-index:999;
    display: table;
	.logo {
        display: table-cell;
        width: 50%;
		position: relative;
		font-size: 24px;
        left: 55px;
		a {
			color: #fff;
			img{
				position: absolute;
                top: 5px;
                // width: 200px;
                height: 55px;
			}
			p{
				float: left;
				padding: 0 8px;
			}
		}
	}
    .login-info{
        display: table-cell;
        width: 400px;
        float: right;
        span{
            color: $color-head;
            font-size: $font-size-title-small;
            float: left;
            width: 280px;
            cursor: default;
            white-space: nowrap;
            @include text-ellipsis;
        }
        li{
            float: left;
            padding: 0 20px;
            cursor: pointer;
            margin-top: 20px;
            position: relative;
            span{
                cursor: pointer;
                width: 31px;
                height: 30px;
                &.company-ico{
                    background: url('../../images/header-enterprise-grey.png') no-repeat;
                }
                &.company-ico:hover, &.company-active{
                    background: url('../../images/header-enterprise-blue.png') no-repeat;
                }
                &.people-ico{
                    background: url('../../images/header-people-grey.png') no-repeat;
                }
                &.people-ico:hover, &.people-active{
                    background: url('../../images/header-people-blue.png') no-repeat;
                }
                &.setting-ico{
                    background: url('../../images/header-setting-grey.png') no-repeat;
                }
                &.setting-ico:hover, &.setting-active{
                    background: url('../../images/header-setting-blue.png') no-repeat;
                }
                &.message-ico{
                    background: url('../../images/header-message-grey.png') no-repeat;
                }
                &.message-ico:hover, &.message-active{
                    background: url('../../images/header-message-blue.png') no-repeat;
                }
                &.message-unread-ico{
                    background: url('../../images/header-message-unread-grey.png') no-repeat;
                }
                &.message-unread-ico:hover, &.message-unread-active{
                    background: url('../../images/header-message-unread-blue.png') no-repeat;
                }
                &.exit-ico{
                    background: url('../../images/header-exit-grey.png') no-repeat;
                }
                &.exit-ico:hover{
                    background: url('../../images/header-exit-blue.png') no-repeat;
                }
            }
            &:hover{
                .tips{
                    opacity: 1;
                }
            }
            .tips{
                width: 80px;
                height: 20px;
                line-height: 20px;
                background: $border-blue;
                color: #fff;
                position: absolute;
                top: 35px;
                left: -5px;
                overflow: inherit;
                text-align: center;
                cursor: default;
                border: 1px solid $border-color;
                opacity: 0;
                transition: visibility 0s linear .3s,opacity .3s linear 0s;
                font-size: 12px;
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 18px;
                    left: 30px;
                    @include arrow-up(6px, $border-blue);
                }
            }
            &.trigger-menu:hover div{
                display: block;
            }
            .menu{
                width: 100px;
                height: 80px;
                position: absolute;
                right: 15px;
                top: 30px;
                display: none;
                overflow: hidden;
                text-align: center;
                z-index: 9999;
                .arrow-up{
                    position: relative;
                    left: 67px;
                    @include arrow-up(10px, #EDEDED);
                }
                p{
                    background-color: #EDEDED;
                    border-bottom: 1px solid $color-info;
                    line-height: 35px;
                    &:hover{
                        background-color: #979797;
                        color: #fff;
                    }
                }
            }
        }
    }
    .vertical-line{
        display: block;
        width: 2px;
        height: 60px;
        background-color: $color-welcome;
        float: left;
        margin: 10px 10px 10px 50px;
    }
    .unlogin-logo{
        background-color: #fff;
        padding: 10px 100px;
        img{
            width: 200px;
        }
        p{
            height: 80px;
            line-height: 80px;
            position: absolute;
            top: 10px;
            right: 80px;
            span{
                height: 40px;
                line-height: 40px;
                margin: 10px;
                a{
                    color: #8BBCF7;
                    font-size: 18px;
                    font-weight: bold;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

/* 正文样式 */
#wrap {
	padding-top:95px;
    >.container{
    	background: url(../../images/navbg.png) repeat-y;
    }
}

.content-title{
	font-size:$font-size-title-large;
	color:$color-title;
	margin-bottom:20px;
}
.content-main {
	position: relative;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	min-height:500px;
}

/* 页尾样式 */
.footer{
    width: 100%;
    background-color: #ddd;
    // position: fixed;
    bottom: 0px;
    z-index: 100;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    .bottom-content{
        width: 1080px;
        margin: 0 auto;
        padding: 10px;
        .bottom-left{
            width: 600px;
            line-height: 20px;
            text-align: left;
            ul{
                li{
                    display: inline-block;
                    width: 30%;
                    h4{
                        font-weight: bold;
                        font-size: 14px;
                    }
                    span{
                        cursor: pointer;
                        display: inline-block;
                        padding: 0 2px;
                    }
                }
            }
        }
        .bottom-right{
            p{
                width: 45%;
                display: table-cell;
                img{
                    width: 70px;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .copyright{
            width: 600px;
            display: block;
            font-size: $font-size-title-small;
            overflow: hidden;
            line-height: 40px;
            font-size: 12px;
            text-align: left;
        }
    }
}

.breadcrumb{
    padding: 20px;
    min-width: 400px;
    border-bottom: 2px solid $border-color;
    span{
        color: $color-info;
    }
}

.group-qq{
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    img{
        width: 13px;
        margin-right: 6px;
    }
    span{
        font-size: 12px;
        color: #C3C3C3;
    }
}

.table-index{
    width: 30px;
    height: 30px;
    background-color: #4990E2;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin: 10px;
    display: block;
}

.article-dialog{
    width: 100%;
    padding: 10px;
    .article{
        background: #ECECEC;
        width: 98%;
        padding: 10px;
        margin: 10px auto;
        .title{
            font-size: 18px;
        }
        .article-content{
            color: #0F0F0F!important;
            height: 80px;
            overflow: hidden;
            color: $color-info;
            text-overflow: -o-ellipsis-lastline;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    .opinion-items{
        width: 98%;
        padding: 10px;
        border: 1px solid $table-border-color;
        margin: 15px auto;
        position: relative;
        .idea-title{
            height: 30px;
            position: absolute;
            top: -15px;
            background: #fff;
            padding: 0 10px;
            color: #000;
            font-weight: bold;
        }
        .opinion-item{
            display: table-row;
            width: 100%;
            span{
                display: table-cell;
                padding: 0 10px;
                color: #0F0F0F;
            }
            .op-user{
                width: 80px;
                text-align: right;
                word-break: break-all;
            }
            .op-node{
                border-left: 2px solid #00CCFF;
                position: relative;
                padding: 0px;
                .op-point{
                    display: block;
                    position: absolute;
                    left: -6px;
                    top: 10px;
                    width: 10px;
                    height: 10px;
                    background: #00CCFF;
                    border-radius: 5px;
                }
            }
            .op-content{
                .red{
                    color: red;
                }
            }
        }
    }
    .opinion{
        width: 100%;
        padding: 10px;
        span{
            color: #000;
        }
        textarea{
            width: 100%;
            height: 80px;
        }
    }
    .chose-model{
        width: 100%;
        padding: 10px;
        .items-checked{
            width: 100%;
            min-height: 42px;
            border: 1px solid #CCCCCC;
            padding: 0 10px;
            position: relative;
            .selecter{
                display: inline-block;
                width: 100%;
                padding-bottom: 5px;
                padding-left: 110px;
                .item{
                    height: 30px;
                    min-width: 100px;
                    display: inline-block;
                    background: #4B8FE4;
                    border-radius: 10px;
                    margin-top: 5px;
                    padding: 0 10px;
                    color: #fff;
                    text-align: center;
                    margin-left: 5px;
                    i{
                        display: block;
                        float: right;
                        cursor: pointer;
                        margin-left: 5px;
                    }
                }
            }
            .chose-person{
                line-height: 34px;
                margin-left: 20px;
                display: block;
                position: absolute;
                left: 0px;
                top: 0;
                a{
                    cursor: pointer;
                    i{
                        font-size: 21px;
                    }
                }
            }
            .chose-no-data{
                text-align: center;
            }
            .chose-items{
                width: 200px;
                background: #fff;
                border: 1px solid #CCCCCC;
                position: absolute;
                z-index: 10;
                .chose-item{
                    width: 100%;
                    .chose-role{
                        width: 100%;
                        height: 40px;
                        font-weight: bold;
                        display: block;
                        padding-left: 10px;
                    }
                    .chose-elements{
                        display: block;
                        width: 100%;
                        .chose-element{
                            width: 100%;
                            height: 40px;
                            padding-left: 20px;
                            cursor: pointer;
                            &:hover{
                                background: $border-blue;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .exam-process{
        span{
            padding: 0 10px;
            color: #0F0F0F;
            input{
                display: inline-block;
                margin: 5px;
                vertical-align: middle;
            }
        }
    }
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: rgba(245,245,245,0.1);
}

::-webkit-scrollbar
{
    width: 5px;
    background: rgba(245,245,245,0.1);
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background: rgba(85,85,85,0.1);
}